* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
    display: inline-block;
}

.sansserif {
    font-family: sans-serif;
}

/* inizio header */
header {
    height: 100px;
    /* background-color: violet; */
    margin-bottom: 20px;
}

#logo {
    height: 50%;
}

.navigatore {
    line-height: 50px;
}

.navigatore a {
    text-decoration: none;
    color: grey ;
    text-transform: uppercase;
    
}

.navigatore li {
    margin: 0 10px;
}


/* inizio main */

/* inizio parte sup */
.jumbotron {
    height: 400px; 
    color: white;
    background-image: url(../img/banner.jpg);
    margin-bottom: 20px;
    padding-top: 250px;
    padding-left: 40px;
    border-radius: 20px;
}

.jumbotron h3 {
    font-size: 20px;
    line-height: 30px;

}
/* fine parte sup */

/* inizio parte inf */
.titolo-articolo {
    height: 70px;
    background-color: lightblue;
    
}

/* inizio corpo articolo */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.articolo {
    /* height: 500px; poi va tolto */
    background-color: blue;
}

.corpo-articolo {
    height: 450px; /* poi va tolto */
    padding: 20px 0;

}

.laterale {
    height: 100%;
    width: 20%;
    
}

.centrale {
    height: 100%;
    width: calc(60% - 30px) ;
    margin: 0 15px;


}

.float-left {
    float: left;
    background-color: lightblue;
}


/* fine parte inf */

/* fine main */
footer {
    height: 50px;
    background-color: purple;
    margin-top: 10px;
}
